.contact-container {
  padding: 4rem 10%;
  text-align: center;
  background-color: #333; /* Fundo escuro para contraste */
  color: white;
}

.contact-container h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.contact-container p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.contact-info {
  margin-top: 2rem;
  font-size: 1.1rem;
}

.contact-info a {
  color: #28a745; /* Cor de destaque para os links */
  text-decoration: none;
  transition: color 0.3s;
}

.contact-info a:hover {
  color: #38c15a;
}